# dependencies
node_modules
*.log
*.gz
.pnp
.pnp.js

# Coveralls
.nyc_output
coverage

# Benchmarking
benchmarks/graphs

# Production
build

# Miscf
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vs/
